@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');


.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}


:root {
  /* Light Mode Palette */
  --LightNeonBlue: #fe00be;
  --LightNeonPurple: #c527cd;
  --LightElectricCyan: #ff00e1;
  --LightBlack: #413d8c;
  --LightDarkGray: #ff0e6e;
  --LightWhite: #ffe8f7;
}

:root.darkmode {
  /* Dark Mode Palette */
  --DarkNeonBlue: #0046b8;
  --DarkNeonPurple: #a745bd;
  --DarkElectricCyan: #00c0f5;
  --DarkBlack: #020202;
  --DarkDarkGray: #161413;
  --DarkWhite: #ffffff;
  --LightNeonBlue: var(--DarkNeonBlue);
  --LightNeonPurple: var(--DarkNeonPurple);
  --LightElectricCyan: var(--DarkElectricCyan);
  --LightBlack: var(--DarkBlack);
  --LightDarkGray: var(--DarkDarkGray);
  --LightWhite: var(--DarkWhite);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

footer{
    background-color: var(--LightBlack);
}

hr {
    margin-bottom: 15px;
}

table td {
    font-family: "VT323", monospace;
    text-align: center;
    width: 500px;
    margin: 15px;
    padding: 12px;
    font-size: 15px;
    color: var(--LightWhite);
}

th {
    font-family: "VT323", monospace;
    font-size: 24px;
    color: var(--LightElectricCyan);
}



tr:hover {
    text-shadow: 1px 1px 5px var(--LightNeonBlue);
}

#copyright{
    font-size: 12px;
}