:root{
    /* Light Mode Palette */
    --LightNeonBlue: #3381FF;
    --LightNeonPurple: #8F28A4;
    --LightElectricCyan: #70E0FF;
    --LightBlack: #141414;
    --LightDarkGray: #3D3E3D;
    --LightWhite: #ffffff;

    /* Dark Mode Palette */
    --DarkNeonBlue: #0046B8;
    --DarkNeonPurple: #391042;
    --DarkElectricCyan: #00C0F5;
    --DarkBlack: #020202;
    --DarkDarkGray: #161413;
    --DarkWhite: #ffffff;
}

footer{
    background-color: var(--LightBlack);
}

hr{
    margin-bottom: 15px;
}

table td{
    text-align: center;
    width:500px;
    margin: 15px;
    padding: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
   color: rgb(77, 77, 77);
}

th{ 
   color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;
}
