:root{
    /* Light Mode Palette */
    --LightNeonBlue: #3381FF;
    --LightNeonPurple: #8F28A4;
    --LightElectricCyan: #70E0FF;
    --LightBlack: #141414;
    --LightDarkGray: #3D3E3D;
    --LightWhite: #ffffff;

    /* Dark Mode Palette */
    --DarkNeonBlue: #0046B8;
    --DarkNeonPurple: #391042;
    --DarkElectricCyan: #00C0F5;
    --DarkBlack: #020202;
    --DarkDarkGray: #161413;
    --DarkWhite: #ffffff;
}
:root.dark{
    /* Light Mode Palette */
    --LightNeonBlue: #3381FF;
    --LightNeonPurple: #8F28A4;
    --LightElectricCyan: #70E0FF;
    --LightBlack: #141414;
    --LightDarkGray: #3D3E3D;
    --LightWhite: #ffffff;

    /* Dark Mode Palette */
    --DarkNeonBlue: #0046B8;
    --DarkNeonPurple: #391042;
    --DarkElectricCyan: #00C0F5;
    --DarkBlack: #020202;
    --DarkDarkGray: #161413;
    --DarkWhite: #ffffff;
}