@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');




.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Nav Container CSS */
nav{
      font-family: "Audiowide", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
     font-family: "Audiowide", sans-serif;
}

#nav-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.012);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px 40px;
    width: 100%;
    max-width: 1900px;
    color: white;
}

/* #nav-card:hover{
    background: rgba(128, 128, 128, 0.034);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 14px 36px 0 rgba(32, 40, 146, 0.567);
    padding: 40px;
    width: 100%;
    max-width: 1900px;
    height:100%;
    max-height: 10px;
    color: white;
    text-align: center;
} */

#logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

#nav-links-container{
    display: flex;
    align-items: center;
}

#nav-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}
.img{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    margin: 0;
}

#nav-links > li{
    font-size: 18px;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    height: auto;
}

/* .nav-list {
  background: #b621fe;
  border: none;
  z-index: 1;
} */
.nav-list:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(270deg, #08000050 0.000%, #0d0000 25.000%, #130000 50.000%, #1a000e 75.000%, #210826 100.000%);
  border-radius: 20px;
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: all 0.3s ease;
}
.nav-list:hover {
  color: #fff;
}
.nav-list:hover:after {
  left: 0;
  width: 100%;
}
.nav-list:active {
  top: 2px;
}


/* Make the anchor contain the image and text side-by-side and centered */
#nav-links > li > a{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;
}


/* Nav Container CSS */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#nav-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.012);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px 40px;
    width: 100%;
    max-width: 1900px;
    color: white;
}

/* #nav-card:hover{
    background: rgba(128, 128, 128, 0.034);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 14px 36px 0 rgba(32, 40, 146, 0.567);
    padding: 40px;
    width: 100%;
    max-width: 1900px;
    height:100%;
    max-height: 10px;
    color: white;
    text-align: center;
} */

#logo{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    
}

#logo > a{
    text-decoration: none;
    color: white;
}

#nav-links-container{
    display: flex;
    align-items: center;
}

#nav-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}
.img{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    margin: 0;
}

#nav-links > li{
    font-size: 18px;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    height: auto;
}

/* Make the anchor contain the image and text side-by-side and centered */
#nav-links > li > a{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;
}
